/* Colors we use for various elements */
.lightBlue{
    background-color: 00B1D6;
}

.darkYellow{
    background-color: FEC601;
}

.darkYellowContrast{
    color: 0139FE;
}

.gray{
    background-color: DEDEDE;
}

/* Header is considered Navbar in here */
.headerTitle{
    margin-left: 1rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.headerItemMarginLeft{
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif; 
    font-style: italic;
}

.headerPanelCenter{
    width: 10rem;
    text-align: center;
}

/* Body elements styling */
.bodyTitle{
    width: 100%;
    height: 7rem;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.bodyTitleText{
    color: white;
    padding-top: 2rem;
}

.bodyDescriptionElement{
    height: 10rem;
    margin-top: 5vw;
    text-align: center;
    padding-top: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: 'Pridi', serif;
    font-size: 2rem;
}

.bodyOfferElement{
    height: 8rem;
    width: 80%;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 2.5rem;
}

.bodyOfferElementMarginBetween{
    margin-right: 2%;
}

/* Top level domain offers*/

.tldOfferDiv{
    display: inline-block;
    width: 100%;
    margin-top: 1vw;
    padding-top: 1vw;
    padding-bottom: 4vw;
}

.tldOfferElement{
    width: 98%;
    margin-top: 1vw;
    text-align: center;
    font-family: 'Pridi', serif;
    padding-top: 0.8rem;
}

.tldImage{
    margin-top: 3.5rem;
    height: 18.4rem;
}

.checkTldDiv{
    height: 12.3rem;
    padding: 1.5rem;
}

/* Yellow further description bellow tld offers */

.descriptionDiv{
    padding-top: 6rem;
    padding-left: 6.7rem;
    padding-right: 6.7rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Pridi', serif;
}

/* Footer */

.footerDiv{
    display: inline-block;
    width: 100%;
    margin-top: 3vw;
    padding-top: 2.5vw;
    padding-bottom: 1.5vw;
}

/* Universal properties */

.col-lg-6-custom{
    -ms-flex: 0 0 50%;
    flex: 0 0 49%;
    max-width: 50%;
}

.ralewayWhite{
    color: white;
    font-family: 'Raleway', sans-serif;
}

.ralewayBlack{
    color: black;
    font-family: 'Raleway', sans-serif;
}

.pridiBlack{
    color: black;
    font-family: 'Pridi', serif;
    font-size: 1.2rem;
}

.marginLeft{
    margin-left: 1.5rem;
    margin-right: 5rem;
}
